*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: "image sidebar", "slider sidebar";
  height: 100vh;
  width: 100vw;
  background: #dadada;
}
.main-image {
  /* grid-area: image; */
  background-image: url("https://images.pexels.com/photos/1632790/pexels-photo-1632790.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.sidebar{
  /* grid-area: sidebar; */
  background: hsl(265, 100%, 86%);
  border-left: 1px solid hsl(265, 100%, 56%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.sidebar-item{
  cursor: pointer;
  border: none;
  outline: none;
  background: hsl(265, 100%, 86%);
  padding: 1rem;
  position: relative;
  transition: 150ms;
}
.sidebar-item:hover, .sidebar-item:focus{
  background: hsl(265, 100%, 66%);
  color: #DADADA;
}
.sidebar-item.active{
  background: hsl(265, 100%, 56%);
}
.sidebar-item::after{
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 1px;
  background: hsl(265, 100%, 46%);
}
.sidebar-item:last-child::after{
  display: none;

}
.slider-container{
  /* grid-area: slider; */
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
}
.slider{
  width: 50%;
  cursor: pointer;
}
.slider-value{
  color: #6d6b6b;
  font-size: .8rem;
}